<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>
   <appender name="appLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/app.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/app-%d{yyyyMMdd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} -%msg%n</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
    
	<logger name="com.baiyue" level="DEBUG" additivity="false">
		<appender-ref ref="appLog" />
        <appender-ref ref="CONSOLE" />
	</logger>
	
	<root level="INFO">
	    <appender-ref ref="CONSOLE" />
	 </root>
</configuration>